@import "../styles/variables.scss";
@font-face {
  font-family: "Spartan-Medium";
  src: url(../../fonts/Spartan-Medium.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: $lighter-background-cyan;
  font-family: Spartan-Medium;
  font-size: 13px;
}
