@import "../styles/mixins.scss";

.job-list-container {
  padding: 0 10%;
  display: flex;
  justify-content: center;
  .job-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 70px;
    width: 1000px;
    @include breakpoint(mobile) {
      width: auto;
      margin-top: 120px;
    }
  }
}
