// color variables
$main-theme-green: #63baba;
$white: #fff;
$text-light-grey: #b9b1b1;
$lighter-gray: #d3d3d3;
$background-dark: #2c3a3a;
$light-cyan: #eef6f6;
$dark-green: #5ba4a4;
$shadow-dark: #00000040;
$black: #000;
$lighter-background-cyan: #effafa;
